@import "./utilidades/tipografia.css";
@import "./global/global.css";

@import "./global/header.css";
@import "./global/footer.css";

@import "./utilidades/componentes.css";

/* Cadastro */
@import "./login/login.css";
/* Home */
@import "./home/introducao.css";
@import "./home/cursos-lista.css";
@import "./home/sobre.css";
@import "./home/planos.css";



html {
    scroll-behavior: smooth;
    font-family: 'Poppins';
  }

  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, img, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, footer, header,
menu, nav, section{
	margin: 0;
	padding: 0;
	border: 0;
}

